flask
flask-socketio
flask-session
flask-cors
flask-mail
pymongo
bcrypt
python-dotenv
google-generativeai
anthropic
openai
requests
pillow
werkzeug
gunicorn
eventlet
gevent
pdfplumber
openpyxl
selenium
webdriver-manager
beautifulsoup4
pydub
twilio
quart
aiohttp
pytz
markdown
dill
pdf2image
google_auth_oauthlib
gevent
pymysql
